<?xml version="1.0"?>
<Settings>
    <Files>
        <HRData>f:/my documents/_git/qs-odbc-udc-util/qsEMP.txt</HRData>
    </Files>
    <Directories>
        <Output>f:/my documents/_git/qs-odbc-udc-util/output</Output>
    </Directories>
    <LDAP>
        <Servers>
            <Server>
                <Name>LDAP://americas.example.com
                <Paths>
                    <Path>ou=activegroups,dc=americas,dc=example,dc=com</Path>
                    <Path>ou=securitygroups,dc=americas,dc=example,dc=com</Path>
                </Paths>
                <Security>
                    <UserId></UserId>
                    <Password></Password>
                </Security>
                <Groups>
                    <Group type="inline">qlikdevelopers</Group>
                    <Group type="file">f:/my documents/_git/inputs/groups.csv</Group>
                <Groups>
            </Server>
            <Server>
                <Name>LDAP://europe.example.com</Name>
                <Paths>
                    <Path>ou=groups,dc=europe,dc=example,dc=com</Path>
                </Paths>
                <Groups>
                    <Group type="file">f:/my documents/_git/inputs/eu-groups.csv</Group>
                </Groups>
            </Server>
        </Servers>
    </LDAP>
    <Domains>
        <Domain>americas</Domain>
        <Domain>europe</Domain>
    </Domains>
</Settings>